body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  top: 0;
}

.nav {
  width: 20%;
  background-color: #354051;
  color: white;
}

.nav > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid gray;
}

.nav-user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finn {
  height: 100px;
  width: auto;
  border-radius: 100%;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
}

.hamburger-button {
  border: none;
  border-radius: 0px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-input {
  padding: 10px 200px;
  font-size: 35px;
  border: none;
  border-right: 1px solid gray;
}

.search-button {
  width: 50px;
  border: none;
}

.mid-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job-title > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
}

.section-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
}

.tabs > p {
  font-size: 13px;
  margin-right: 35px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #edf2f6;
  padding: 50px;
}

.infographics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circles-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circles-wrapper > p {
  padding: 40px;
  height: 75%;
  width: auto;
  border: 5px solid purple;
  margin: 15px;
  border-radius: 100%;
}

.graph-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.job-details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: white;
}

.job-description-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-start;
          flex-direction: flex-start;
  background-color: #6f7e95;
}

.job-description-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 400px;
      grid-template-columns: 200px 400px;
  -ms-grid-rows: 100px 100px 100px 100px 100px 200px 100px 100px;
      grid-template-rows: 100px 100px 100px 100px 100px 200px 100px 100px;
}

.job-description-details > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job-details > h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

.job-description-details > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px;
      grid-template-columns: 200px;
  -ms-grid-rows: 50px 50px 50px 200px 200px 200px;
      grid-template-rows: 50px 50px 50px 200px 200px 200px;
}

.socials-item {
  padding: 10px;
}

.socials-item > input {
  border-bottom: 2px solid gray;
}
/*# sourceMappingURL=index.css.map */